<h2>Your Habits</h2>

<div *ngIf="successMessage" class="alert alert-success text-center">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="alert alert-danger text-center">
  {{ errorMessage }}
</div>

<div *ngFor="let frequency of frequencyOrder; let i = index"
     class="card p-3 shadow-lg border-0 rounded-3"
      [ngClass]="{'bg-gray': i % 2 === 0, 'bg-darkgray': i % 2 !== 0}">
  <h3 class="p-3">{{ frequency }}</h3>
  <ul>
    <li *ngFor="let habit of habits" [hidden]="habit.frequency !== frequency" class="{{ habit.status }} pt-2 shadow rounded">
      <h3>{{ habit.title }}</h3>
      <p>{{ habit.description }}</p>
      <p><strong>Frequency:</strong> {{ habit.frequency }}</p>
      <p><b>Start Date:</b> {{ habit.startDate }}</p>
      <p><b>Last Completed:</b> {{ habit.lastCompletedDate }}</p>
      <div class="habit-actions">
        <button class="btn btn-success btn-sm me-2" (click)="markComplete(habit)">Complete</button>
        <button [routerLink]="['/habits/edit', habit.habitId]" class="btn btn-warning btn-sm me-2">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="deleteHabit(habit)">Delete</button>
      </div>
    </li>
  </ul>
</div>
