blockquote {
  font-size: 1.2rem;
  font-weight: 300;
  color: #ffffff;

}

.blockquote-footer {
  padding: 20px;
  color: white;
}

.container h2 {
  font-weight: 700;
  color: #67ff50;
}

.container p.lead {
  font-size: 1.2rem;
  color: #6c757d;
}

.bi {
  transition: transform 0.3s ease;
}

.bi:hover {
  transform: scale(1.2);
}
